<aside class="mainLayout__aside">
  <!--order form with products-->
  <form action="#" class="order-form">
    <header class="order-form__header">
      <h3 class="order-form__title">
        CurrentOrder
      </h3>
      <div class="order-form__controls">
        <button class="order-form__clear-btn link">Clear all</button>
        <button class="order-form__settings link"></button>
      </div>
    </header>
    <ul class="order-list">
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link order-product__btn--last"></button>
          <span class="order-product__number">1</span>
          <button class="order-product__btn order-product__btn--plus link "></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
      <li class="order-list__item order-product">
        <div class="order-product__desc">
          <img src="images/order-burger.png" srcset="images/order-burger.png 1x, images/order-burger@2x.png 2x, images/order-burger@3x.png 3x" alt="product" class="order-product__img">
          <p class="order-product__name">
            Stuffed Flank Steak
          </p>
        </div>
        <div class="order-product__controls">
          <button class="order-product__btn order-product__btn--minus link"></button>
          <span class="order-product__number">2</span>
          <button class="order-product__btn order-product__btn--plus link"></button>
        </div>
        <div class="order-product__cost">
          $13.50
        </div>
      </li>
    </ul>
    <div class="order-form__total-cost order-cost">
      <ul class="order-cost__list">
        <li class="order-cost__item">
          <span class="order-cost__name">Subtotal</span>
          <span class="order-cost__value">$35.25</span>
        </li>
        <li class="order-cost__item">
          <span class="order-cost__name">Discounts</span>
          <span class="order-cost__value">-$5.00</span>
        </li>
        <li class="order-cost__item">
          <span class="order-cost__name">Sales Tax</span>
          <span class="order-cost__value">$2.25</span>
        </li>
      </ul>
      <div class="order-cost__total">
        <span class="order-cost__name order-cost__name--total">
          Total
        </span>
        <span class="order-cost__value order-cost__value--total">
          $32.50
        </span>
      </div>
    </div>
    <!--Tap pay block and submit btn-->
    <div class="order-form__pay-info order-pay">
      <div class="order-pay__desc">
        <div class="order-pay__method">
          Cashless credit
        </div>
        <div class="order-pay__cost">$32.50</div>
        <div class="order-pay__status">Available</div>
      </div>
      <button class="order-pay__btn link">
        Apply
      </button>
      <!--Cancel btn-->
      <!--
      <button class="order-pay__btn order-pay__btn--cancel link">
        Cancel
      </button>
      -->
    </div>
    <button type="submit" class="order-form__submit link">
      Pay with WRISTBAND
    </button>
    <!--Not tap pay-block and submit btn-->
  <!--
    <div class="order-form__pay-info order-pay">
      <div class="order-pay__desc">
        <div class="order-pay__method">
          Cashless credit
        </div>
        <p class="order-pay__message">
          Please Tap a Wristband to Link!
        </p>
      </div>
      <button class="order-pay__btn order-pay__btn--disabled link">
        Apply
      </button>
    </div>
    <button type="submit" class="order-form__submit order-form__submit--disabled link">
      Pay with WRISTBAND
    </button>
    <div class="order-form__balance order-balance">
      <span class="order-balance__name">
        Balance due
      </span>
      <span class="order-balance__value">
        $32.50
      </span>
    </div>
  -->
  </form>

<!--No products order-form-->
<!--
<form action="#" class="order-form">
  <header class="order-form__header">
    <h3 class="order-form__title">
      CurrentOrder
    </h3>
    <div class="order-form__controls">
      <button class="order-form__settings link"></button>
    </div>
  </header>
  <div class="order-form__started-block">
    <img src="images/icon-cart.svg" alt="product-cart" class="order-form__started-img">
    <p class="order-form__started-description">
      Add an Item to get started!
    </p>
  </div>
</form>
-->
</aside>