<div class="help-modal js-hide">
  <header class="help-modal__header">
    <div class="help-modal__info">
      <h3 class="help-modal__title">
        Need help?
      </h3>
      <p class="help-modal__description">
        WRSTBND’s Point of sale system is easy to use, nut can often require reminders.
        Below you’ll find quick guides to the most common functions. if you still need help,
        click the red button below
      </p>
    </div>
    <button class="help-modal__close-btn close-btn link"></button>
  </header>
  <div class="help-modal__content">
    <div class="help-modal__tab-controls">
      <a href="#" class="help-modal__control link">Starting a new order</a>
      <a href="#" class="help-modal__control link">Editing my inventory</a>
      <a href="#" class="help-modal__control link help-modal__control--active">Reviewing previous order</a>
      <a href="#" class="help-modal__control link">Proccess a refund</a>
      <a href="#" class="help-modal__control link">View my sales reports</a>
    </div>
    <div class="help-modal__tabs-section">
      <div class="help-modal__tab js-show">
        <video poster="images/video-poster.png" class="help-modal__video">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="help-modal__video-playBtn">
          <span class="help-modal__video-icon"></span>
        </div>
      </div>
      <div class="help-modal__tab js-show">
        <video poster="images/video-poster.png" class="help-modal__video">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="help-modal__video-playBtn">
          <span class="help-modal__video-icon"></span>
        </div>
      </div>
      <div class="help-modal__tab js-show">
        <video poster="images/video-poster.png" class="help-modal__video">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="help-modal__video-playBtn">
          <span class="help-modal__video-icon"></span>
        </div>
      </div>
      <div class="help-modal__tab js-show">
        <video poster="images/video-poster.png" class="help-modal__video">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="help-modal__video-playBtn">
          <span class="help-modal__video-icon"></span>
        </div>
      </div>
      <div class="help-modal__tab js-show">
        <video poster="images/video-poster.png" class="help-modal__video">
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="help-modal__video-playBtn">
          <span class="help-modal__video-icon"></span>
        </div>
      </div>
    </div>
  </div>
  <footer class="help-modal__footer">
    <button class="help-modal__help-btn link">
      I Still Need Help, Please Request On-Site Help
    </button>
    <button class="help-modal__done-btn link">Done</button>
  </footer>
</div>