<div class="mainLayout__dashboard-wrapper">
  <main class="mainLayout__dashboard">
    <div class="mainLayout__dashboard-inner">
      <div>
        <header class="header">
          <div class="header__title-wrapper">
            <p class="header__title">Conway’s BBQ Team</p>
            <p class="header__subTitle">Location ID# CONWAY123</p>
          </div>
          <div class="header__info">
            <div class="header__synced">
              <p class="header__synced-label">Last Synced</p>
              <p class="header__synced-time">3 min ago</p>
            </div>
            <button class="header__helpBtn link">
              <img src="images/help-circle.svg" class="header__helpBtn-icon" alt="need help">
              Help
            </button>
          </div>
        </header>

        <nav class="positionFilter__wrapper">
          <ul class="positionFilter__list">
            <li class="positionFilter__item positionFilter__item--active">
              All items
            </li>
            <li class="positionFilter__item">
              Food
            </li>
            <li class="positionFilter__item">
              Alcohol
            </li>
            <li class="positionFilter__item">
              Cold Drinks
            </li>
            <li class="positionFilter__item">
              Hot Drinks
            </li>
          </ul>
        </nav>

        <div class="product__wrapper">
          <ul class="product__list">
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Ranch Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.75</p>
              <img src="images/product-icon.svg" class="product__item-img" alt="product">
            </li>
            <li class="product__item">
              <div class="product__item-info">
                <p class="product__item-title">Mushroom Burgers</p>
                <p class="product__item-weight">150g</p>
              </div>
              <p class="product__item-price">$7.00</p>
              <img src="images/empty-product-icon.svg" class="product__item-img" alt="product">
            </li>
          </ul>
        </div>
      </div>


      <!--IF not tab-->
    <!--
      <footer class="footer">
        <p class="footer__empty-title">WristBand Information</p>
        <div class="footer__empty-wrapper">
          <img src="images/tab-icon.png"
            srcSet='images/tab-icon.png 1x, images/tab-icon@2x.png 2x, images/tab-icon@3x.png 3x'
            class="footer__empty-icon" alt="Tab" />
          <p class="footer__empty-text">Please tab a Wristband to Link!</p>
        </div>
      </footer>
    -->
      <!-- Tab and drop products to basket -->
      <footer class="footer">
        <div class="footer__layout">
          <div class="footer__user-wrapper">
            <p class="footer__user-title">WristBand Information</p>
            <div class="footer__user-body">
              <div class="footer__user-info">
                <img src="images/user-img.svg" class="footer__user-img" alt="user">
                <div class="footer__user-info-inner">
                  <p class="footer__user-name">Eleanor Russel</p>
                  <p class="footer__user-ticket">Vip ticket holder</p>
                </div>
              </div>

              <button class="footer__user-btn link">
                Unlink
              </button>
            </div>
          </div>
          <div class="footer__promo">
            <p class="footer__promo-title">
              select available promo to apply <span class="footer__promo-title--grey">(limit 1 per order)</span>
            </p>
            <form action="#" class="footer__promo-form promo-form">
              <div class="promo-form__radio-wrapper">
                <input type="radio" class="promo-form__radio visually-hidden" id="5DollarsOffAnyItem" name="promo"
                  checked>
                <label for="5DollarsOffAnyItem" class="promo-form__label">$5 off any item</label>
              </div>
              <div class="promo-form__radio-wrapper">
                <input type="radio" class="promo-form__radio visually-hidden" id="freeBeverage" name="promo">
                <label for="freeBeverage" class="promo-form__label">free beverage</label>
              </div>
              <div class="promo-form__radio-wrapper">
                <input type="radio" class="promo-form__radio visually-hidden" id="20PercentOffEntireOrder" name="promo">
                <label for="20PercentOffEntireOrder" class="promo-form__label">20% off entire order</label>
              </div>
            </form>
          </div>
        </div>
      </footer>
    </div>
  </main>
</div>