<div class="modal-pay js-hide">
    <header class="modal-pay__header">
      <div class="modal-pay__description">
        <p class="modal-pay__method">
          Method selected
        </p>
        <h3 class="modal-pay__title">
          Pay With Cashless Credit
        </h3>
      </div>
      <button class="modal-pay__close-btn close-btn link"></button>
    </header>
    <div class="modal-pay__content-layout">
      <div class="modal-pay__cost-info">
        <span class="modal-pay__total-name">
          Total Amount Due
        </span>
        <span class="modal-pay__total-value">
          $0.00
        </span>
      </div>
      <!--Block for tap wristband-->
      <!--
      <div class="modal-pay__wristband-window">
        <img src="images/icon-modal-wrist.png" 
        srcset="images/icon-modal-wrist.png 1x, images/icon-modal-wrist@2x.png 2x, images/icon-modal-wrist@3x.png 3x" 
        alt="wristband" class="modal-pay__wristband-img">
        <p class="modal-pay__hint">
          Tap Wristband to Complete
        </p>
      </div>
    -->
      <!--Pay status blocks-->
      <!--Success pay block-->
      <!--
      <div class="modal-pay__status modal-pay__status--success">
        <img src="images/icon-success.svg" alt="pay-success!" class="modal-pay__icon">
        <span class="modal-pay__status-text">Success!</span>
      </div>
    -->
      <!--Error pay block-->

      <div class="modal-pay__status modal-pay__status--error">
        <img src="images/icon-error.svg" alt="pay-error!" class="modal-pay__icon">
        <span class="modal-pay__status-text">Error!</span>
      </div>

    <!--Done btn
      <button class="modal-pay__success-btn link">Done</button>
    -->
    <button class="modal-pay__error-btn link">Try again</button>
    </div>
  </div>